/*
=============== 
keyframes
===============
*/

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out-in {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0.1);
	}
	100% {
		transform: none;
	}
}

@keyframes zoom-out {
	0% {
		transform: none;
	}
	100% {
		transform: scale(0.1);
	}
}

@keyframes hide {
	0% {
		display: block;
	}
	100% {
		display: none;
	}
}

/*
=============== 
WEBPAGE
===============
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-secondary);
	background: var(--clr-background);
	line-height: 1.5;
	font-size: 1rem;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}
.stop-scroll {
	overflow: hidden;
}

/* photo gallery */
h1,
h2 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	color: var(--clr-black);
}

h1 {
	font-size: 3rem;
	font-family: var(--ff-primary);
}

h2 {
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
}

.photo-gallery {
	padding: 5rem 0;
}

.title {
	text-align: center;
	margin-bottom: 2rem;
}

.underline {
	width: 10rem;
	height: 0.25rem;
	background-color: var(--clr-black);
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.125rem;
	box-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.btn-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	margin-bottom: 4rem;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
}

.filter-btn {
	margin: 0 0.5rem;
	padding: 0.8rem 1.5rem;
	border: 2px solid var(--clr-black);
	position: relative;
	overflow: hidden;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	transition: 0.3s;
	z-index: 1;
	font-family: inherit;
	color: var(--clr-black);
}

.filter-btn::before {
	content: "";
	width: 0;
	height: 400%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background: var(--clr-black);
	transition: 1s ease;
	display: block;
	z-index: -1;
	color: var(--clr-primary-1);
}

.filter-btn:hover::before {
	width: 110%;
	color: var(--clr-primary-1);
}

.filter-btn:hover {
	color: var(--clr-primary-1);
}

.active-btn {
	background: var(--clr-black);
	color: var(--clr-primary-1);
}

.section-center {
	display: flex;
	justify-content: center;
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	gap: 3rem 2rem;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.gallery-item {
	display: grid;
	max-width: 25rem;
	animation: 1s ease-in-out fade-in, 0.6s ease-in-out zoom-in;
}

.hidden {
	display: none;
}

#frames,
.frame {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#frames {
	margin: 5% 0;
	width: 100%;
}

.frame {
	display: inline-block;
	padding: 20px;
	border-width: 10px;
	border-style: solid;
	border-color: #2f2d2d #434040 #4f4c4c #434040;
	background: #f5f5f5;
	background-image: gradient(linear, 0 0, 0 100%, from(#e5e4df), to(#cdcdc6));
	background-image: -webkit-linear-gradient(#e5e4df, #cdcdc6);
	background-image: -moz-linear-gradient(#e5e4df, #cdcdc6);
	background-image: -o-linear-gradient(#e5e4df, #cdcdc6);
	background-image: linear-gradient(#e5e4df, #cdcdc6);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 5px 2px rgba(0, 0, 0, 0.1),
		0 10px 20px rgba(0, 0, 0, 0.8);
	position: relative;
	overflow: hidden;
}

.frame::before {
	content: "";
	position: absolute;
	top: -175px;
	right: -20%;
	width: 400px;
	height: 400px;
	transform: rotateZ(-40deg);
	-webkit-transform: rotateZ(-40deg);
	-moz-transform: rotateZ(-40deg);
	-o-transform: rotateZ(-40deg);
	background-image: gradient(
		linear,
		0 0,
		0 100%,
		from(rgba(255, 255, 255, 0.4)),
		to(rgba(255, 255, 255, 0))
	);
	background-image: -webkit-linear-gradient(
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0)
	);
	background-image: -moz-linear-gradient(
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0)
	);
	background-image: -o-linear-gradient(
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0)
	);
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0)
	);
}

.frame img {
	border-width: 2px;
	border-style: solid;
	border-color: #bbbab4 #c7c7bf #e5e4df #c7c7bf;
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1),
		0 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.photo {
	object-fit: fill;
	height: 160px;
	width: 300px;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.5s;
}

.photo:hover {
	transform: scale(1.05);
}

/* photobox */
.photobox {
	display: none;
}

.photobox.active {
	display: block;
	z-index: 300;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(15px) saturate(150%) contrast(45%) brightness(100%);
	transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	animation: 0.5s ease-in-out fade-in;
}

.photobox.fade-out {
	animation: fade-out 0.5s ease-in-out;
}

.close-btn-container {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	right: 0px;
	top: 0px;
	height: 5rem;
	width: 5rem;
	border-radius: 0 0 0 5rem;
	display: flex;
	justify-content: right;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.5s;
}

.close-btn {
	position: relative;
	right: 1.5rem;
	top: 0.8rem;
	color: var(--clr-white);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: bolder;
}

.close-btn-container:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.5s;
	background-color: rgba(255, 0, 0, 0.3);
}

.prev-next {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	transform: scale(1);
	transition: all 0.5s;
}

#next-btn {
	right: 0;
}

.prev-next:hover {
	cursor: pointer;
	transform: scale(1.3);
	transition: all 0.5s;
}

.autoplay-btn {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0px;
	top: 0px;
	height: 5rem;
	width: 5rem;
	border-radius: 0 0 5rem 0;
	display: flex;
	justify-content: left;
	cursor: pointer;
	transform: scale(1);
	transition: all 0.5s;
}

.autoplay-btn:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.5s;
}

.autoplay-btn i {
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	left: 1.5rem;
	top: 1.5rem;
	font-size: 1.3rem;
	font-style: normal;
	font-weight: bolder;
}

.progress-box {
	width: 12rem;
	height: 12rem;
	position: relative;
	top: -3.2rem;
	left: -0.2rem;
	transform: rotate(45deg);
}

.circle-progress-box {
	width: 12rem;
	height: 12rem;
	border: 10px solid transparent;
	border-radius: 50%;
	position: absolute;
	top: 0;
}

.circle-progress-bar {
	border-top: 10px solid rgb(0, 0, 0, 0.1);
	border-right: 10px solid rgb(0, 0, 0, 0.6);
	right: 1px;
}

.main-photo {
	height: 90vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-photo.fade-out {
	animation: 1s ease-in-out fade-out-in;
}

.main-photo img {
	max-height: 80%;
	max-width: 99%;
	object-fit: scale-down;
	border-radius: 0.5rem;
	border: 0.1rem solid rgb(0, 0, 0, 0.2);
}

.main-photo-max {
	max-height: 95% !important;
	transition: all 0.5s;
}

.main-photo-rotate {
	transform: rotate(90deg);
	transition: all 0.5s;
}

.caption {
	justify-items: center;
	height: 15vh;
	width: 99vw;
	max-width: 99vw;
	position: fixed;
	bottom: 1rem;
	margin: auto;
	display: grid;
	grid-template: 2rem auto / minmax(50px, 1fr) 30px 30px;
}

.thumbs-hide {
	transform: translateY(120px);
	transition: all 0.5s;
}

.thumbs ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
	/* overflow: hidden; */
	gap: 5px;
	grid-area: 2/1/3/4;
}

.thumbs ul li {
	height: 80px;
	width: auto;
	transform: scale(1);
	transition: all 0.4s ease-in-out;
}

.thumbs ul li:hover {
	transform: scale(1.3);
	transition: 0.4s ease-in-out;
	transform-origin: bottom center;
	margin-left: 20px;
	margin-right: 20px;
}

.thumbs ul li img {
	border: 2px solid var(--clr-black);
	height: 100%;
}

.active-thumbnail {
	border: 2px solid yellow !important;
}

.thumbs-toggler {
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.6);
	grid-area: 1/3/2/4;
	align-self: center;
	justify-self: center;
	transform: scale(1);
	transition: all 0.5s;
}

.chevron-rotate {
	transform: rotate(180deg);
	transition: all 0.5s;
}

.transition {
	transition: all 0.5s;
}

.rotate-btn {
	color: rgba(0, 0, 0, 0.6);
	font-size: 1rem;
	grid-area: 1/2/2/3;
	align-self: center;
	justify-self: center;
	transform: scale(1);
	transition: all 0.5s;
}

.thumbs-toggler:hover,
.rotate-btn:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.5s;
}

.caption-text {
	text-align: center;
	margin-bottom: 4rem;
	font-size: 1rem;
	font-weight: bolder;
	color: var(--clr-black);
	grid-area: 1/1/2/4;
}

.photo-counter {
	color: #4f4c4c;
	padding: 1rem;
}

/*
=============== 
MOBILE 769px & tablets 992px
===============
*/
@media screen and (max-width: 992px) {
	body {
		font-size: 0.8em;
	}
	.stop-scroll {
		overflow: hidden;
	}

	/* photo gallery */
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	.title {
		text-align: center;
		margin-bottom: 2rem;
	}

	.underline {
		width: 6rem;
		height: 0.25rem;
		background-color: var(--clr-black);
		margin-left: auto;
		margin-right: auto;
		border-radius: 0.125rem;
		box-shadow: 4px 4px 6px rgb(0, 0, 0);
	}

	.btn-container {
		margin: 0 auto 3rem auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 1rem;
	}

	.filter-btn {
		padding: 0.8rem 1.5rem;
		border: 2px solid var(--clr-black);
		position: relative;
		overflow: hidden;
		background-color: transparent;
		text-align: center;
		text-transform: uppercase;
		font-size: 1rem;
		transition: 0.3s;
		z-index: 1;
		font-family: inherit;
		color: var(--clr-black);
	}

	.filter-btn::before {
		content: "";
		width: 0;
		height: 400%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		background: var(--clr-black);
		transition: 1s ease;
		display: block;
		z-index: -1;
	}

	.filter-btn:hover::before {
		width: 110%;
	}

	.filter-btn:hover {
		color: var(--clr-primary-1);
	}

	.section-center {
		display: flex;
		width: 90vw;
		margin: 0 auto;
		max-width: 1170px;
		display: grid;
		gap: 2rem;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}

	.gallery-item {
		display: grid;
		max-width: 25rem;
	}

	.hidden {
		display: none;
	}

	.photo {
		object-fit: fill;
		height: 150px;
		width: 290px;
		border: 10px solid var(--clr-white);
		cursor: pointer;
		transform: scale(1);
		transition: transform 0.5s;
	}

	.photo:hover {
		transform: scale(1.05);
	}

	/* photobox */
}
