/*
=============== 
keyframes
===============
*/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-500%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideInFromRight {
	0% {
		transform: translateX(500%);
	}
	100% {
		transform: translateX(0);
	}
}

/*
=============== 
WEBPAGE
===============
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-secondary);
	color: var(--clr-black);
	line-height: 1.5;
	font-size: 1rem;
	scroll-behavior: smooth;
	overflow: hidden;
}

.stop-scroll {
	overflow: hidden;
}

/* slider */
img:not(.logo, .side-logo) {
	display: block;
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	animation: ease-in fadeIn 1s;
	margin: auto;
	overflow: hidden;
}

.text-container {
	z-index: -1;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8rem;
	margin-left: -16rem;
}

span {
	width: 16rem;
	height: 16rem;
	border-radius: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.author {
	position: relative;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	color: var(--clr-white);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
	animation: slideInFromLeft 1s;
}
.quote {
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	right: 15px;
	font-style: italic;
	padding-left: 3rem;
	padding-right: 3rem;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	animation: slideInFromRight 1s;
}

/*
=============== 
MOBILE 769px & tablets 992px
===============
*/
@media screen and (max-width: 992px) {
	body {
		font-size: 0.8em;
	}

	/* slider */

	.text-container {
		margin-top: -6rem;
		margin-left: -12rem;
	}

	span {
		width: 12rem;
		height: 12rem;
		border-radius: 6rem;
	}

	.author {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
