/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--ff-primary: "Roboto", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

/*
=============== 
keyframes
===============
*/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-500%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideInFromRight {
	0% {
		transform: translateX(500%);
	}
	100% {
		transform: translateX(0);
	}
}

/*
=============== 
WEBPAGE
===============
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--ff-secondary);
	background: var(--clr-grey-10);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 1rem;
	scroll-behavior: smooth;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* NAVBAR */
nav {
	background: var(--clr-black);
	box-shadow: var(--light-shadow);
	opacity: 0.9;
	position: sticky;
}

.nav-center {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem;
}
.nav-toggle {
	font-size: 1.5rem;
	color: var(--clr-primary-5);
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.nav-toggle.active .bar:nth-child(2) {
	opacity: 0;
}
.nav-toggle.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}
.nav-toggle.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

.logo {
	height: auto;
}

.links {
	height: auto;
	display: flex;
}

.links a {
	color: var(--clr-white);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	margin: 0 1.5rem;
	transition: var(--transition);
}

.links a:hover {
	color: var(--clr-primary-5);
	background: transparent;
}

/* slider */
img:not(.logo) {
	display: block;
	z-index: -2;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	animation: ease-in fadeIn 1s;
	margin: auto;
	overflow: hidden;
}

.text-container {
	z-index: -1;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8rem;
	margin-left: -16rem;
}

span {
	width: 16rem;
	height: 16rem;
	border-radius: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.author {
	position: relative;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	color: var(--clr-white);
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: center;
	animation: slideInFromLeft 1s;
}
.quote {
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	right: 15px;
	font-style: italic;
	padding-left: 3rem;
	padding-right: 3rem;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	animation: slideInFromRight 1s;
}
aside,
.sidebar-toggle {
	display: none;
}

/* footer */
footer {
	background: var(--clr-black);
	box-shadow: var(--light-shadow);
	opacity: 0.9;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: var(--clr-white);
	letter-spacing: var(--spacing);
	list-style-type: none;
	font-size: 0.7em;
	padding: 0.7em;
}
.footer-center {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a {
	color: var(--clr-white);
	transition: var(--transition);
}
a:hover {
	color: var(--clr-primary-5);
	background: transparent;
}

footer ul {
	display: flex;
	gap: 2em;
}
footer ul li {
	font-size: 1.3em;
}

/*
=============== 
MOBILE 769px & tablets 992px
===============
*/
@media screen and (max-width: 992px) {
	body {
		font-size: 0.8em;
	}
	.navbar {
		display: none;
	}
	.logo {
		position: fixed;
		top: 0.3rem;
	}
	.sidebar {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		backdrop-filter: blur(5px) saturate(150%) contrast(45%) brightness(100%);
		transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translateY(-100%);
	}

	.show-sidebar {
		transform: translateY(0);
	}
	/* SIDEBAR*/
	.sidebar-header {
		display: flex;
		justify-content: center;
		padding: 1rem 1.5rem;
	}
	.sidebar-toggle {
		font-size: 1.5rem;
		color: var(--clr-primary-5);
		background: transparent;
		border-color: transparent;
		transition: var(--transition);
		cursor: pointer;
		visibility: visible;
		display: block;
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 100;
	}

	.bar {
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background-color: white;
	}

	.sidebar-toggle.active .bar:nth-child(2) {
		opacity: 0;
	}
	.sidebar-toggle.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.sidebar-toggle.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.links {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* overflow: hidden; */
		transition: var(--transition);
	}

	.links a {
		padding: 1rem 1rem;
	}
	.show-links {
		height: 0rem;
	}
	.social-icons {
		justify-content: center;
		display: flex;
		padding-bottom: 1rem;
	}
	.social-icons a {
		font-size: 1rem;
		margin: 0 1rem;
		transition: var(--transition);
	}

	/* NAVBAR */
	/* .nav-center {
		display: block;
	}
	.nav-toggle {
		display: block;
	}

	.links {
		display: flex;
		flex-direction: column;
		height: 0;
		overflow: hidden;
		transition: var(--transition);
	}

	.links a {
		padding: 0.5rem 1rem;
	}
	.show-links {
		height: 10rem;
	} */

	/* slider */

	.text-container {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -6rem;
		margin-left: -12rem;
	}

	span {
		width: 12rem;
		height: 12rem;
		border-radius: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.author {
		position: relative;
		left: 15px;
		background-color: rgba(0, 0, 0, 0.5);
		color: var(--clr-white);
		font-family: "Times New Roman", Times, serif;
		font-size: 1.5rem;
		font-weight: 700;
		padding-left: 3rem;
		padding-right: 3rem;
		text-align: center;
	}
	.quote {
		background-color: rgba(255, 255, 255, 0.5);
		position: relative;
		right: 15px;
		font-style: italic;
		padding-left: 3rem;
		padding-right: 3rem;
		font-family: "Times New Roman", Times, serif;
		text-align: center;
	}

	/* footer */
	footer {
		font-size: 0.6em;
		padding: 0.7em;
		z-index: -1;
		display: flex;
		justify-content: center;
	}

	footer ul {
		gap: 2em;
	}

	footer ul li {
		font-size: 1.4em;
		display: none;
	}
}
